.welcome {
    width: 100%;

    display: flex;  
    justify-content: center;
    align-items: center;
}

.welcome a {
    width: 200px;
    height: 50px;
    margin: 0 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    font: normal normal 500 1rem "Roboto", sans-serif;
    background-color: #E60000;
    color: white;
    border: none;
    border-radius: 5px;

    text-decoration: none;

    transition: all 500ms ease;
}

.welcome a:hover {
    cursor: pointer;
    transform: scale(1.05);
}