.title {
    position: absolute;
    top: 7%;
}

.barchart {
    padding: 3% 0;
}

.customTooltip {
    background-color: #E60000;
    padding: 5px 12px;
}

.label {
    color: white;
    font: normal normal 500 0.438rem "Roboto", sans-serif;
    text-align: center;
    padding: 5px 0
}